<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <title>Codrz</title>
</head>

<body>


  <!-- Header Area
      #top-header (.header-branding, )
      #navbar (.nav-list, .nav-list--item) -->

  <header id="header">
    <div id="top-header">
      <h1 class="header-branding">Codrz</h1>

    </div>
    <!--Close top-header-->

    <div id="navbar">
      <ul class="nav-list">
        <li><a class="nav-list--item" href="/">Home</a></li> <!-- Go Home -->
        <li><a class="nav-list--item" href="/contact">Authors</a></li> <!-- Add Author Tags to Access Posts w Author -->
        <li><a class="nav-list--item" href="/post/submit">Submit Blog Post</a></li>
        <!-- Go to page to submit a blog post -->
        <li><a class="nav-list--item" href="/">View All Tags</a></li> <!-- CSS, HTML, Java, JavaScript -->
        <li><a class="nav-list--item" href="/">View Categories</a></li> <!-- Front End, Back-end -->


      </ul>
    </div>
    <!--Close navbar-->
  </header>

  <main>
    <!--MAIN BODY THREE COLUMN GRID
        #left-column ( Categories -- Front-end, Back-end, Full Stack )
      #center-column ( Most Recent Blog Posts )
      #right-column ( Tag List; Java, CSS, HTML5, Spring)-->
    

      <!--Close left-column-->
      <section id="center-column">
        <h2 class="bold section-title">Submit a Blog</h2>
        <div class="column-reverse">
          <article class="white-box">
        <form class="form" action="/post/submit" method="post">
           <fieldset class="field-set">
               Title: <input type="text" name="title" /> <br />
               Body: <input type="text" name="body" /> <br />
               Author: <select name="authorId">
                   <option th:each="author : ${authors}" th:value="${author.authorId}" th:text="|Name: ${author.authorName}|">
                   </option>
               </select> <br />
               Genre: <select name="categoryId">
                   <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="|Topic: ${category.progType}|">
                   </option>
               </select> <br />
               Tag: <select name="tagId">
                   <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="|Name: ${tag.tagName}|">
                   </option>
               </select>
           </fieldset>
           <button type="submit">Submit</button>
       </form>
     </section>
            <!-- Enter Date input
            <form th:action="@{|/tags/${Tag.tagId}/add|}" method="POST">
                <select name="postId">
                    <option th:each="review : ${AllReviews}" th:value="${review.id}" th:text="|Ease of Use: ${review.easeOfUseRating}, Aesthetics: ${review.aestheticsRating},
                        Content: ${review.contentRating}, Creativity: ${review.creativityRating},
                        Overall: ${review.overallRating}, Comment: ${review.overallComment}|">
                    </option>
                </select>
                <button type="submit">Submit</button>
            </form> -->



                <!-- <div class="margin-bottom">
                  <li class="form-list--item">
                    <p>Write Content Here
                  </li>
                  <li class="form-list--item"><textarea class="input-review-body" type="text" name="body"></textarea>
                  </li>
                </div>
                <div class="margin-bottom">
                  <li class="form-list--item"> <button type="submit">Submit</button></li>
                </div>
              </ul>
            </form>
          </article>

        </div>
      </section>
      <!- Close center-column -->

      <!-- <section id="right-column" class="sidebar">
        <h2 class="bold section-title">Stuff Right</h2>
        <div class="white-box">
          <p>Right</p>
        </div>
      </section>
    </div> -->
    <!-- Close three-column-grid --> -->

    <footer><small>&copy;2019 Hochheiser & Wyandt</small></footer>
  </main>
</body>

</html>
